.section.users table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
}

.section.users thead {
  background-color: #ccf;
  border-bottom: 1px solid #ccc
}

.section.users thead th {
  padding: 5px 0;
  text-align: left;
}

.section.users thead th:first-child {
  padding-left: 10px;
}

.section.users tbody td {
  padding: 5px 0;
}

.section.users tbody tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.section.users .avatar {
  background-color: #ddd;
  background-position: center center;
  background-size: cover;
  border: 1px solid #aaa;
  height: 32px;
  margin-left: 8px;
  width: 32px;
}
