@import 'normalize.css';

section > div {
    padding: 50px;
    border: 3px solid blueviolet;
    margin: 20px;
}

.flex-item {
    padding: 70px;
    background-color: coral;
    margin: 1px;
}

#flex-item-2 {
    padding: 100px;
    background-color: greenyellow;
}

.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse; */
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    justify-content: flex-start;
    /* justify-content: flex-end;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */
    /* align-items: stretch;
    align-items: flex-start;
    align-items: baseline;
    align-items: flex-end; */
    align-items: center;
    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: stretch;
    align-content: space-between;
    align-content: space-around;
}

.container {
    display: flex;
    align-items: flex-end;
}

.item {
    padding: 70px;
    background-color: aquamarine;
    margin: 1px;
    order: 0;
    flex-grow: 0;
    flex: 0 1 auto;
}


#item-3 {
    background-color: goldenrod;
    order: -1;
    flex-grow: 1;
    flex-basis: 200px;
    align-self: flex-start;
}

#item-4 {
    padding: 100px;
    background-color: salmon;
    flex-grow: 2;
    flex-shrink: 1;
}